@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .stroke {
    -webkit-text-stroke: 3px #990b0d;
    margin: 0;
  }
}

@font-face {
  font-family: "strippy";
  src: url(strippy-regular-webfont.woff);
}

#hero {
  font-family: "strippy";
}
.css-typing p {
  border-right: 0.15em solid #990b0d;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 16.5em;
  animation: type 2s steps(40, end);
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 19em;
  opacity: 0;
  animation: type2 2s steps(40, end);
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 18em;
  opacity: 0;
  animation: type3 3s steps(40, end), blink 0.5s step-end infinite alternate;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid #990b0d;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid #990b0d;
  }
  100% {
    border: none;
    opacity: 1;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
